@import '~/bootstrap/scss/bootstrap.scss';
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.h-80px {
  height: 80px;
}
.overflow-xh {
  overflow-x: hidden !important;
}
.overflow-yh {
  overflow-y: hidden !important;
}
